.options-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  
  .option-button {
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
    width: 14vw;
    padding: 8px;
    /* padding: 4px 1px 4px 1px; */
    /* border-color: #165a4a; */
    border: 1.5px solid #165a4a;
    color: #165a4a;
    background: transparent;
    text-align: center;
    font-family: 'Inter', sans-serif;
  }