* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <---------------------------Auth---------------------------> */

.loginAuth {
  font-family: Poppins, sans-serif;
  background: url("./images/auth.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginDialog {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.36);
  height: 68vh;
  width: 28vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 720px) {
  .loginDialog {
    width: 90vw;
    height: 70vh;
  }
}
@media screen and (min-width: 721px) and (max-width: 1200px) {
  .loginDialog {
    width: 40vw;
  }
}

.loginTitle {
  /* margin: 12%; */
  margin-top: 15%;
  margin-bottom: 5%;
  font-size: 27px;
  color: #093a2f;
}
.authInput {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 5%;
}

.authButton {
  margin: 5%;
  padding: 3%;
  border-radius: 10px;
  background-color: #165a4a;
  width: 75%;
  color: white;
  border-style: none;
}

/* <---------------------------------Question Page 1 ---------------------------> */

.questionPage1 {
  font-family: Poppins, sans-serif;
  background: url("./images/questionbackground.png");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questionDiv1 {
  width: 70%;
  color: #021410;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questionElectricity {
  width: 90%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.questionGas {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nextQuestionPage {
  margin: 2%;
  padding: 1%;
  border-radius: 5px;
  background-color: #165a4a;
  width: 12%;
  color: white;
  border-style: none;
}

.progressBar {
  /* margin-top: -5%; */
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
}

.progess {
  /* background-color: #165a4a; */
  width: 160px;
  height: 4px;
}

@media only screen and (max-width: 660px) {
  .progess {
    width: 120px;
  }
}

.progressBar label {
  color: rgb(83, 75, 75);
}


.resultDiv {
  font-family: Poppins, sans-serif;
  background: url("./images/result-bg-2.png");
  /* background-image: url("./images/result-bg-2.jpg"); */
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0.2; */
}
.resultSubDiv {
  /* background-color: red; */
  margin-top: 3%;
  width: 55%;
  height: 65vh;
  display: flex;
}
@media only screen and (max-width: 850px) {
  .resultSubDiv {
    width: 60%;
  }
}

.resultLeft {
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/26e71882-6d8e-4d4b-8136-ae80a3f8fc7a/980acbc2-8a97-49f4-8e5c-27c5a932a980?org_if_sml=17399");
  border-radius: 0 0 0 10px;
  flex: 0.6;
}
.resultRight {
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/26e71882-6d8e-4d4b-8136-ae80a3f8fc7a/e04b013f-dedb-491b-8452-c30bbf9033ce?org_if_sml=14435");
  border-radius: 0 10px 10px 0;
  flex: 0.4;
  opacity: 1;
  /* background-color: #165a4a; */
}

.resultLogo {
  position: absolute;
  top: 10%;
  left: 19%;
  width: 20rem;
}
/* .resultInputInfo {
  display: flex;
  flex-direction: column;
  gap:20%;
} */
.resultInputEachInfo {
  margin-top: 2%;
}
.carbonEmissionResult {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
}