@import url("https://fonts.googleapis.com/css2?family=Unna&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 720px) {
  body {
    overflow-x: hidden ;
  }
}

/* <---------------------------Auth---------------------------> */

.loginAuth {
  font-family: Poppins, sans-serif;
  background: url("./images/auth.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginDialog {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.36);
  height: 68vh;
  width: 28vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 720px) {
  .loginDialog {
    width: 90vw;
    height: 70vh;
  }
}
@media screen and (min-width: 721px) and (max-width: 1200px) {
  .loginDialog {
    width: 40vw;
  }
}

.loginTitle {
  /* margin: 12%; */
  margin-top: 15%;
  margin-bottom: 5%;
  font-size: 27px;
  color: #093a2f;
}
.authInput {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 5%;
}

.authButton {
  margin: 5%;
  padding: 3%;
  border-radius: 10px;
  background-color: #165a4a;
  width: 75%;
  color: white;
  border-style: none;
}

/* <---------------------------------Question Page 1 ---------------------------> */

.questionPage1 {
  font-family: Poppins, sans-serif;
  background: url("./images/questionbackground.png");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questionDiv1 {
  width: 70%;
  color: #021410;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questionElectricity {
  width: 90%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.questionGas {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nextQuestionPage {
  margin: 2%;
  padding: 1%;
  border-radius: 5px;
  background-color: #165a4a;
  width: 12%;
  color: white;
  border-style: none;
}

.progressBar {
  /* margin-top: -5%; */
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
}

.progess {
  /* background-color: #165a4a; */
  width: 160px;
  height: 4px;
}

@media only screen and (max-width: 660px) {
  .progess {
    width: 120px;
  }
}

.progressBar label {
  color: rgb(83, 75, 75);
}

.resultDiv {
  font-family: Poppins, sans-serif;
  background: url("./images/result-bg-2.png");
  /* background-image: url("./images/result-bg-2.jpg"); */
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0.2; */
}
.resultSubDiv {
  /* background-color: red; */
  margin-top: 3%;
  width: 55%;
  height: 65vh;
  display: flex;
}
@media only screen and (max-width: 850px) {
  .resultSubDiv {
    width: 60%;
  }
}

.resultLeft {
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/26e71882-6d8e-4d4b-8136-ae80a3f8fc7a/980acbc2-8a97-49f4-8e5c-27c5a932a980?org_if_sml=17399");
  border-radius: 0 0 0 10px;
  flex: 0.6;
}
.resultRight {
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/26e71882-6d8e-4d4b-8136-ae80a3f8fc7a/e04b013f-dedb-491b-8452-c30bbf9033ce?org_if_sml=14435");
  border-radius: 0 10px 10px 0;
  flex: 0.4;
  opacity: 1;
  /* background-color: #165a4a; */
}

.resultLogo {
  position: absolute;
  top: 10%;
  left: 19%;
  width: 20rem;
}
/* .resultInputInfo {
  display: flex;
  flex-direction: column;
  gap:20%;
} */
.resultInputEachInfo {
  margin-top: 2%;
}
.carbonEmissionResult {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
}

/* <-----------------------------Home Page ------------------------------> */

@media screen and (max-width: 720px) {
  
}


/* <------------------------------------------Navbar----------------------------------------> */
.navBar {
  font-family: Poppins, sans-serif;
  width: 100vw;
  height: 15vh;
  background-color: white;
  display: flex;
  gap:40%;
  /* justify-content: space-around; */
  align-items: center;

}
.navbarImage{
margin-left: 5%;
}

.navbarRightFields{
  width: 30%;
  display: flex;
  gap: 7%;
}
.navbarRightFields >p{
  font-size: 19px;
  color: #242726;
  cursor: pointer;
}
.navbarRightFields >p:hover{
  color:rgb(40, 70, 19);
  transition-delay: 300ms;
  font-weight: 500;
  
}

/* .navbarRightFields >p :hover{
  color: black;
  font-weight: 800;
} */










.mainFirst {
  font-family: Poppins, sans-serif;
  width: 100vw;
  height: 80vh;
  background: url("./images/rectangle_11.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding: 8rem; */
}
@media screen and (max-width: 720px) {
  .mainFirst {
    background-size: cover;
  }
}

.mainFirstDiv {
  font-size: 25px;
  color: white;
  /* color: rgb(71, 64, 64); */
  width: 36vw;
  margin-left: 12%;
  /* text-align: center; */
  /* text-align: left; */
}

.miniSection {
  background-color: #eaf1f0;
  width: 100vw;
  height: 45vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.getStartedBtn {
  margin-top: 3%;
  padding: 3% 7%;
  border: 2px solid #165a4a;
  font-weight: 900;
  font-size: 1rem;
}

.headingMinSection {
  font-family: "Unna", serif;
  font-size: 22px;
}

.miniSectionDescription {
  font-family: Poppins, sans-serif;
}

/* <--------------------------------------------CardsSection----------------------------------> */

.cardsSection {
  font-family: Poppins, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #165a4a;
  padding: 7% 4%;
}

.cardsSectionHeading {
  width: 50%;
  font-size: 50px;
  color: white;
}

.cardsSectionHeading_Description {
  display: flex;
}

.cardsSectionDescription {
  width: 80%;
  margin-left: 20%;
  color: white;
  font-size: 20px;
  display: block;
  margin-bottom: 2%;
  /* display: flex; */
  /* flex-direction: column; */
}

.cardsSectionMiniDescription {
  text-decoration: underline;
  width: 60%;
  margin-left: 20%;
  color: white;
  font-size: 15px;
  margin-top: 1%;
  /* display: block; */
}

/* <-------------------------------------------Did You Know Section----------------------------> */

.didYouKnow {
  background-color: #eaf1f0;
  font-family: Poppins, sans-serif;
  display: flex;
  /* justify-content: center; */
  gap: 10%;
  padding: 5%;
}

.leafImage {
  width: 20%;
}

@media screen and (max-width: 720px) {
 .leafImage{
  width: 40%;
  height: 50%;
  margin-top: 10%;
 } 
}

.headingDidYouKnow {
  font-size: 48px;
  margin-top: 5%;
  margin-bottom: 2%;
}

.textDidYouKnow {
  color: #393b3b;
  margin-bottom: 4%;
  line-height: 1.8;
}

.subHeadingDidYouKnow {
  font-size: 24px;
  font-weight: 700;
  color: #165a4a;
  line-height: 1.2;
}

/* <----------------------------------------Calculate Carbon Emission Section------------------------------------> */

#calculateCarbonEmission {
  font-family: Poppins, sans-serif;
  background: url("./images/rectangle_13abcd.png");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 720px) {
  #calculateCarbonEmission{
   background-size: cover;
   height: 60vh;
  } 
 }

.calculateMainDiv {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
}

.calculateHeading {
  font-size: 43px;
  margin-top: 5%;
  text-align: center;
  /* width: 40%; */
  line-height: 1.5;
}
.calculationBoxes {
  display: flex;
  gap: 1%;
  justify-content: center;
}

.box1 {
  opacity: 0.9;
  width: 35vw;
  height: 45vh;
  background-color: #165a4a;
  border-radius: 5px;
  font-size: 40px;
  color: white;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .box1{
    font-size: 30px;
    width: 40vw;
    height: 30vh;
  } 
 }

/* <---------------------------------------Graph----------------------------------------> */

#graph {
  width: 100vw;
  height: 70vh;
  background-color: #eaf1f0;
  padding: 5%;
}

.graphHeading {
  font-size: 50px;
  font-family: Poppins, sans-serif;
  color: #0d1818;
}

/* <---------------------------------------Contact Us-----------------------------------------> */

#contactUs {
  font-family: Poppins, sans-serif;
  background-color: #a5f8ec;
  width: 100vw;
  height: 45vh;
  display: flex;
}

.getInTouch {
  margin-top: 5%;
  margin-bottom: 2%;
  color: #292b2b;
  font-size: 20px;
}
.contactUsLeft {
  padding: 5%;
  padding-left: 18%;
  flex: 0.5;
}
.contactUsRight{
  margin-top: 2.5%;
}


.contactUsLeftJoin {
  color: #3b3b3b;
  font-size: 28px;
  font-weight: 700;
  margin-top: 1%;
  width: 40%;
}
.contactUsLeftJoin2 {
  color: #3b3b3b;
  font-size: 24px;
  font-weight: 700;

  width: 100%;
}
.email {
  color: #252525;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.emailInfo {
  padding: 2px;
  background-color: #9effea;
  color: rgb(20, 63, 7);
  margin-top: 1%;
  width: 100%;
}
.emailInfo:hover {
  color: rgb(39, 9, 94);
  text-decoration: underline;
}
.socialLinks {
  margin-top: 1%;
}
.linkedIn {
  background: url("./images/linkedin.png");
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.instagram {
  background: url("./images/instagram.png");
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.twitter {
  background: url("./images/twitter.png");
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.facebook {
  background: url("./images/facebook.png");
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.contactUsRight {
  flex: 0.5;
}

.inputFieldDiv {
  display: flex;
  flex-direction: column;
}
.inputField {
  border-radius: 5px;
  width: 50%;
  padding: 1%;
  margin-bottom: 1%;
  border: 1px solid #165a4a;
}
.inputFieldM {
  border-radius: 5px;
  width: 40%;
  border: 1px solid #165a4a;
  padding: 1.5%;
  padding-bottom: 10%;
}

/* <--------------------------------------Dilogue Box---------------------------------> */

.center {
  position: relative;
  left: 50%;

  /* transform: translate(-50%, -50%); */
}
.center-btn {
  /* position: absolute; */
  /* Adjust Top and Left to adjust center button */
  position: relative;
  width: 20%;
  top: -20%;
  left: 80%;
  /* margin-bottom: 20%; */
  /* bottom:0%; */
}
.popup {

  /* Adjust margin to UP/Down Popup */
  margin-top: -10%;
  /* width: 950px; */
  width: 95%;
  height: 580px;
  padding: 30px 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  opacity: 0;
  /* top: -200%; */
  transform: translate(-50%, -50%) scale(0.5);
  transition: opactiy 300ms ease-in-out, top 1000ms ease-in-out,
    transform 1000ms ease-in-out;
}

.popup.active {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.popup .title {

  
  /* margin: 20% 0; */
  margin-bottom: 2%;
  font-size: 30px;
  font-weight: 600;
}

.popup .description {
  color: #222;
  font-size: 15px;
  padding: 5px;
  /* margin-top: 5%; */
}

/* .popup .dismiss-btn {
  margin-top: 15px;
} */

.popup .dismiss-btn button {
  padding: 8px 18px;
  background: #111;
  color: #f5f5f5;
  border: 2px solid #111;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 25px;
  transition: all 300ms ease-in-out;
}

.popup .dismiss-btn button:hover {
  color: #111;
  background: #f5f5f5;
}
#open-popup-btn {
  /* margin-top: 2%; */
  padding: 8px 18px;
  background: #111;
  color: #f5f5f5;
  border: 2px solid #111;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  /* padding: 25px; */
}
#open-popup-btn:hover {
  color: #111;
  background: #f5f5f5;
}

.popup > div {
  position: relative;
  top: 10px;
  opacity: 0;
}

.popup.active > div {
  top: 0;
  opacity: 1;
}

.popup.active .title {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .description {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}